/* =========================
   HOME PAGE
   ========================= */

.home-page {
    font-family: Arial;
    background-color: lightblue;
    margin: 0;
    text-align: center;
}

.home-page header {
    background-color: rgb(60, 60, 157);
    color: white;
    padding: 15px;
}

.home-page nav {
    background-color: rgb(25, 25, 132);
    padding: 12px;
}

.home-page nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
}

.home-page nav a:hover {
    color: skyblue;
}

.home-page h2 {
    color: blue;
    margin: 20px;
}

.home-page p {
    line-height: 25px;
}

.home-page .box {
    width: 70%;
    max-width: 900px;
    background-color: white;
    margin: 20px auto;
    padding: 25px;
    border-radius: 20px;
}

.home-page .box:hover {
    background-color: #f0f8ff;
}

.home-page ul {
    list-style-type: none;
    padding: 0;
    margin: 15px auto;
}

.home-page li {
    margin: 10px 0;
    padding: 5px;
    text-align: center;
}

.home-page button {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 8px;
    cursor: pointer;
    border-radius: 5px;
}

.home-page button:hover {
    background-color: darkblue;
}

.home-page footer {
    background-color: rgb(25, 25, 132);
    color: white;
    padding: 10px;
    margin-top: 30px;
}

.home-page footer p {
    margin: 5px;
}


/* =========================
   LOGIN PAGE
   ========================= */

.login-page {
    font-family: Arial;
    background-color: lightblue;
    text-align: center;
}

.login-page .box {
    width: 350px;
    background-color: white;
    margin: 70px auto;
    padding: 20px;
    border: 1px;
    border-radius: 10px;
}

.login-page h1 {
    color: blue;
}

.login-page p {
    color: gray;
}

.login-page input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

.login-page input[type="submit"] {
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}

.login-page input[type="submit"]:hover {
    background-color: darkblue;
}

.login-page a {
    color: #0000FF;
    text-decoration: none;
}

.login-page a:hover {
    text-decoration: underline;
}


/* =========================
   REGISTER PAGE
   ========================= */

.register-page {
    font-family: Arial;
    background-color: lightblue;
    text-align: center;
}

.register-page .box {
    width: 350px;
    background-color: white;
    margin: 70px auto;
    padding: 20px;
    border: 1px;
    border-radius: 10px;
}

.register-page h1 {
    color: blue;
}

.register-page p {
    color: gray;
}

.register-page input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

.register-page input[type="submit"] {
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}

.register-page input[type="submit"]:hover {
    background-color: darkblue;
}

.register-page a {
    color: #0000FF;
    text-decoration: none;
}

.register-page a:hover {
    text-decoration: underline;
}


/* =========================
   MAIN PAGE
   ========================= */

.main-page {
    font-family: Arial;
    background-color: #f3f8f9;
    margin: 0;
}

.main-page header {
    background-color: rgb(60, 60, 157);
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
}

.main-page nav {
    background-color: rgb(25, 25, 132);
    text-align: center;
    padding: 10px;
}

.main-page nav a {
    color: #FFFFFF;
    text-decoration: none;
    margin: 15px;
}

.main-page nav a:hover {
    color: #ADD8E6;
    text-decoration: underline;
}

.main-page h2 {
    text-align: center;
    color: #0000FF;
}

.main-page p {
    text-align: center;
}

.main-page .container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.main-page .box {
    width: 250px;
    background-color: #FFFFFF;
    padding: 30px;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    text-align: center;
}

.main-page .box h3 {
    color: #0000FF;
}

.main-page .box p {
    font-size: 16px;
}

.main-page .box:hover {
    background-color: #f0f8ff;
}

.main-page button {
    background-color: #0000FF;
    color: #FFFFFF;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.main-page button:hover {
    background-color: #00008B;
}

.main-page ul {
    width: 70%;
    margin: auto;
}

.main-page li {
    margin: 10px;
}

.main-page footer {
    background-color: rgb(60, 60, 157);
    color: #FFFFFF;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}


/* =========================
   COURSES PAGE
   ========================= */

.courses-page {
    font-family: Arial;
    background-color: lightblue;
    margin: 0;
    text-align: center;
}

.courses-page header {
    background-color: rgb(60, 60, 157);
    color: white;
    padding: 20px;
}

.courses-page nav {
    background-color: rgb(25, 25, 132);
    padding: 10px;
}

.courses-page nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
}

.courses-page nav a:hover {
    color: skyblue;
}

.courses-page .container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    justify-content: center;
}

.courses-page .box {
    width: 300px;
    background-color: white;
    margin: 15px auto;
    padding: 15px;
    border-radius: 42px;
}

.courses-page h2 {
    color: blue;
}

.courses-page p {
    line-height: 25px;
}

.courses-page button {
    background-color: #0000ff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
}

.courses-page button:hover {
    background-color: #00008b;
}

.courses-page footer {
    background-color: rgb(60, 60, 157);
    color: #ffffff;
    padding: 15px;
    margin-top: 20px;
}


/* =========================
   NOTES PAGE
   ========================= */

.notes-page {
    font-family: Arial;
    background-color: lightgray;
    margin: 0;
}

.notes-page header {
    background-color: rgb(60, 60, 157);
    color: white;
    text-align: center;
    padding: 15px;
}

.notes-page nav {
    background-color: rgb(25, 25, 132);
    text-align: center;
    padding: 10px;
}

.notes-page nav a {
    color: white;
    text-decoration: none;
    margin: 20px;
}

.notes-page nav a:hover {
    color: skyblue;
}

.notes-page h2 {
    text-align: center;
    margin: 20px;
}

.notes-page .box {
    background-color: white;
    width: 500px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.notes-page .box:hover {
    background-color: lightblue;
}

.notes-page button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.notes-page button:hover {
    background-color: darkblue;
}

.notes-page footer {
    background-color: rgb(60, 60, 157);
    color: white;
    text-align: center;
    padding: 15px;
}


/* =========================
   ASSIGNMENTS PAGE
   ========================= */

.assignments-page {
    font-family: Arial;
    background-color: lightgray;
    margin: 0;
}

.assignments-page header {
    background-color: rgb(60, 60, 157);
    color: white;
    text-align: center;
    padding: 10px;
}

.assignments-page nav {
    background-color: rgb(25, 25, 132);
    text-align: center;
    padding: 10px;
}

.assignments-page nav a {
    color: white;
    margin: 15px;
}

.assignments-page nav a:hover {
    color: skyblue;
    text-decoration: underline;
}

.assignments-page h2 {
    text-align: center;
    color: blue;
}

.assignments-page p {
    text-align: center;
}

.assignments-page .box {
    width: 51%;
    background-color: white;
    margin: 25px auto;
    padding: 20px;
    text-align: center;
    border-radius: 42px;
}

.assignments-page button {
    background-color: blue;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.assignments-page button:hover {
    background-color: darkblue;
}

.assignments-page footer {
    background-color: rgb(60, 60, 157);
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}


/* =========================
   PROFILE PAGE
   ========================= */

.profile-page {
    font-family: Arial;
    background-color: lightgray;
    margin: 0;
}

.profile-page header {
    background-color: rgb(60, 60, 157);
    color: white;
    text-align: center;
    padding: 10px;
}

.profile-page nav {
    background-color: rgb(25, 25, 132);
    text-align: center;
    padding: 10px;
}

.profile-page nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
}

.profile-page nav a:hover {
    color: skyblue;
    text-decoration: underline;
}

.profile-page h2 {
    text-align: center;
    color: blue;
}

.profile-page p {
    text-align: center;
}

.profile-page .box {
    width: 50%;
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    border: 1px;
    text-align: left;
    border-radius: 30px;
}

.profile-page .box h3 {
    color: blue;
    text-align: center;
}

.profile-page button {
    background-color: blue;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 15px;
}

.profile-page button:hover {
    background-color: darkblue;
}

.profile-page footer {
    background-color: rgb(60, 60, 157);
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}


/* =========================
   EDIT PROFILE PAGE
   ========================= */

.edit-profile-page {
    font-family: Arial;
    background-color: lightgray;
    margin: 0;
}

.edit-profile-page header {
    background-color: rgb(60, 60, 157);
    color: white;
    text-align: center;
    padding: 10px;
}

.edit-profile-page nav {
    background-color: rgb(25, 25, 132);
    text-align: center;
    padding: 10px;
}

.edit-profile-page nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
}

.edit-profile-page nav a:hover {
    color: skyblue;
    text-decoration: underline;
}

.edit-profile-page h2 {
    text-align: center;
    color: blue;
}

.edit-profile-page .box {
    width: 50%;
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
}

.edit-profile-page label {
    font-weight: bold;
    display: block;
}

.edit-profile-page input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.edit-profile-page button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
}

.edit-profile-page button:hover {
    background-color: darkblue;
}

.edit-profile-page footer {
    background-color: rgb(60, 60, 157);
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}


/* =========================
   ABOUT PAGE
   ========================= */

.about-page {
    font-family: Arial;
    background-color: lightblue;
    margin: 0;
    text-align: center;
}

.about-page header {
    background-color: rgb(60, 60, 157);
    color: white;
    text-align: center;
    padding: 15px;
}

.about-page nav {
    background-color: rgb(25, 25, 132);
    text-align: center;
    padding: 10px;
}

.about-page nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
}

.about-page nav a:hover {
    color: skyblue;
    text-decoration: underline;
}

.about-page h1 {
    color: white;
}

.about-page h2 {
    text-align: center;
    color: blue;
}

.about-page h3 {
    color: blue;
}

.about-page p {
    line-height: 25px;
}

.about-page .box {
    width: 60%;
    background-color: white;
    margin: 25px auto;
    padding: 20px;
    border-radius: 20px;
    box-sizing: border-box;
}

.about-page .box:hover {
    background-color: #f0f8ff;
}

.about-page ul {
    width: 70%;
    margin: auto;
    text-align: left;
}

.about-page li {
    margin: 10px;
}

.about-page a {
    color: #0000FF;
    text-decoration: none;
}

.about-page a:hover {
    text-decoration: underline;
}

.about-page footer {
    background-color: rgb(60, 60, 157);
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}